<!DOCTYPE html>
<lang=eng>
<html>
  <head>
    <title>Weather Forecast</title>
    <link rel='stylesheet', href='{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}'>

  </head>
  <body>
    <header>
      <div class='card' style="max-width: 100%">
        <article>
          <p>
            <h1 class="display-4 text-center card-header rounded"><b>WEATHER FORECAST</b></h1>
          </p>
          <div class="container">
          <div class='text-right'>
            <a href='{{url_for('index')}}'>Home</a>
          </div>
        </div>
        </article>
      </div>

    </header>
    <main>
      <div class="card-title">
        <p class='text-right'>
          <h3>Get your weather forecast report<h3>
        </p>
      </div>
      {% block content %}

      {% endblock %}
    </main>

  </body>
</html>
