<!DOCTYPE html>
<lang=eng>
<html>
  <head>
    <title>Weather Forecast</title>
    <link rel='stylesheet', href='{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}'>

  </head>
  <body>
    <header>
      <div class='card'>
        <article>
          <p>
            <h1 class="display-4 text-center card-header rounded"><b>WEATHER FORECAST</b></h1>
          </p>
          <p class='lead'>
            <h3>Get your <b>FIVE</b> day weather forecast report<h3>
          </p>
        </article>
      </div>
      <div class='text-right'>
        <a href='{{url_for('index')}}'>Home</a>
      </div>
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>

  </body>
</html>
